.floor-selector {
  display: flex;
  position: fixed;
  bottom: 10px;
  left: 50vw;
  transform: translate(-50%, 0);
  justify-content: center;
  width: 90vw;
  max-width: 300px;
  height: 50px;
}

.floor-button {
  margin-inline: 5px;
  text-decoration: none;
  color: blueviolet;
  border-radius: 10px;
  border-width: 5px;
  border-color: darkgray;
  font-family: "Rubik", sans-serif;
  flex: 1;
  border-style: dashed;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floor-button.active {
  color: white;
  border-style: solid;
  border-color: blueviolet;
  background-color: blueviolet;
}